USE [master]
GO
/****** Object:  Database [NMS_DB]    Script Date: 9/30/2019 4:35:59 PM ******/
CREATE DATABASE [NMS_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NMS_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\NMS_DB.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'NMS_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\NMS_DB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NMS_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NMS_DB]
GO
/****** Object:  User [sql_nms]    Script Date: 9/30/2019 4:36:00 PM ******/
CREATE USER [sql_nms] FOR LOGIN [sql_nms] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [sql_nms]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [sql_nms]
GO
ALTER ROLE [db_datareader] ADD MEMBER [sql_nms]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [sql_nms]
GO
/****** Object:  Table [dbo].[AnnualRequirements]    Script Date: 9/30/2019 4:36:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AnnualRequirements](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProdName] [varchar](50) NULL,
	[HsCode] [varchar](50) NULL,
	[Manufacturer] [varchar](100) NULL,
	[CountryOfOrgin] [varchar](20) NULL,
	[PackSize] [varchar](100) NULL,
	[TentativeUnits] [int] NULL,
	[UnitPrice] [float] NULL,
	[Currency] [varchar](20) NULL,
	[TotalPrice] [float] NULL,
	[ProdType] [varchar](500) NULL,
	[ImpId] [int] NULL,
	[SubmissionDate] [datetime] NULL,
	[TotalPriceInBdt] [float] NULL,
	[TotalAmount] [float] NULL,
 CONSTRAINT [PK_AnnualRequirement] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CurrencyRates]    Script Date: 9/30/2019 4:36:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CurrencyRates](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Currency] [varchar](50) NULL,
	[ExchangeRate] [float] NULL,
 CONSTRAINT [PK_CurrencyRate] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EmployeeInfos]    Script Date: 9/30/2019 4:36:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EmployeeInfos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmpCode] [varchar](20) NULL,
	[EmpName] [varchar](50) NULL,
	[Designation] [varchar](20) NULL,
	[Email] [varchar](50) NULL,
	[ContactNo] [varchar](20) NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_EmployeeInfo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ImporterInfos]    Script Date: 9/30/2019 4:36:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ImporterInfos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrgName] [varchar](200) NULL,
	[ContactName] [varchar](50) NULL,
	[Position] [varchar](20) NULL,
	[ContactNo] [varchar](20) NULL,
	[Division] [varchar](20) NULL,
	[District] [varchar](20) NULL,
	[Upazila] [varchar](20) NULL,
	[Address] [varchar](500) NULL,
	[DlsLicenseType] [varchar](20) NULL,
	[DlsLicenseNo] [varchar](20) NULL,
	[DlsLicenseScan] [varchar](100) NULL,
	[NidNo] [varchar](20) NULL,
	[NidScan] [varchar](100) NULL,
	[IrcScan] [varchar](100) NULL,
	[UserId] [int] NULL,
	[Email] [varchar](50) NULL,
	[ImpCode] [varchar](10) NULL,
 CONSTRAINT [PK_ImporterInfo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ProformaInvoiceDtls]    Script Date: 9/30/2019 4:36:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ProformaInvoiceDtls](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MstId] [int] NULL,
	[ProdName] [varchar](50) NULL,
	[HSCode] [varchar](50) NULL,
	[Manufacturer] [varchar](100) NULL,
	[CountryOfOrgin] [varchar](20) NULL,
	[PackSize] [varchar](20) NULL,
	[NoOfUnits] [int] NULL,
	[TotalAmount] [float] NULL,
	[TotalQuantity] [float] NULL,
	[TotalPrice] [float] NULL,
	[Type] [varchar](500) NULL,
	[Rmarks] [varchar](500) NULL,
	[ApprovalStatus] [bit] NULL,
	[ApprovedBy] [int] NULL,
 CONSTRAINT [PK_ProformaInvoiceDtl] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ProformaInvoiceMsts]    Script Date: 9/30/2019 4:36:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ProformaInvoiceMsts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ApplicationNo] [varchar](50) NULL,
	[ProformaInvoiceNo] [varchar](50) NULL,
	[ProformaDate] [datetime] NULL,
	[SubmissionDate] [datetime] NULL,
	[CurrencyId] [int] NULL,
	[PortOfLoading] [varchar](50) NULL,
	[PortOfEntry] [varchar](50) NULL,
	[PIScan] [varchar](100) NULL,
	[LitScan] [varchar](100) NULL,
	[TestReport] [varchar](100) NULL,
	[OtherDoc] [varchar](100) NULL,
	[Confirmation] [bit] NULL,
 CONSTRAINT [PK_ProformaInvoiceMst] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RoleInfos]    Script Date: 9/30/2019 4:36:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RoleInfos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
 CONSTRAINT [PK_RoleInfo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserLogins]    Script Date: 9/30/2019 4:36:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserLogins](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NULL,
	[PasswordHash] [varbinary](max) NULL,
	[PasswordSalt] [varbinary](max) NULL,
	[CreatedBy] [varchar](50) NULL,
	[CreatedTerminal] [varchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedBy] [varchar](50) NULL,
	[UpdatedTerminal] [varchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
	[UserType] [varchar](10) NULL,
 CONSTRAINT [PK_UserLogin] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserRoleConfs]    Script Date: 9/30/2019 4:36:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoleConfs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_UserRoleConf] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[CurrencyRates] ON 

INSERT [dbo].[CurrencyRates] ([Id], [Currency], [ExchangeRate]) VALUES (1, N'Dollar', 84)
INSERT [dbo].[CurrencyRates] ([Id], [Currency], [ExchangeRate]) VALUES (2, N'Euro', 100)
INSERT [dbo].[CurrencyRates] ([Id], [Currency], [ExchangeRate]) VALUES (3, N'Pound', 110)
SET IDENTITY_INSERT [dbo].[CurrencyRates] OFF
SET IDENTITY_INSERT [dbo].[ImporterInfos] ON 

SET IDENTITY_INSERT [dbo].[ImporterInfos] OFF
SET IDENTITY_INSERT [dbo].[RoleInfos] ON 

INSERT [dbo].[RoleInfos] ([Id], [Name]) VALUES (1, N'Admin')
INSERT [dbo].[RoleInfos] ([Id], [Name]) VALUES (2, N'Importer')
SET IDENTITY_INSERT [dbo].[RoleInfos] OFF
SET IDENTITY_INSERT [dbo].[UserLogins] ON 

SET IDENTITY_INSERT [dbo].[UserLogins] OFF
SET IDENTITY_INSERT [dbo].[UserRoleConfs] ON 

INSERT [dbo].[UserRoleConfs] ([Id], [UserId], [RoleId]) VALUES (1, 31, 2)
INSERT [dbo].[UserRoleConfs] ([Id], [UserId], [RoleId]) VALUES (2, 32, 2)
INSERT [dbo].[UserRoleConfs] ([Id], [UserId], [RoleId]) VALUES (3, 33, 2)
SET IDENTITY_INSERT [dbo].[UserRoleConfs] OFF
/****** Object:  Index [IX_UserLogin]    Script Date: 9/30/2019 4:36:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserLogin] ON [dbo].[UserLogins]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
USE [master]
GO
