USE [master]
GO
/****** Object:  Database [NMS_DB]    Script Date: 10/2/2019 5:17:54 PM ******/
CREATE DATABASE [NMS_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NMS_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\NMS_DB.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'NMS_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\NMS_DB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NMS_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NMS_DB]
GO
/****** Object:  User [sql_nms]    Script Date: 10/2/2019 5:17:54 PM ******/
CREATE USER [sql_nms] FOR LOGIN [sql_nms] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [sql_nms]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [sql_nms]
GO
ALTER ROLE [db_datareader] ADD MEMBER [sql_nms]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [sql_nms]
GO
/****** Object:  Table [dbo].[AnnualRequirementDtls]    Script Date: 10/2/2019 5:17:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AnnualRequirementDtls](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AnnReqMstId] [int] NULL,
	[ProdName] [varchar](50) NULL,
	[HsCode] [varchar](50) NULL,
	[Manufacturer] [varchar](100) NULL,
	[CountryOfOrigin] [varchar](20) NULL,
	[PackSize] [varchar](100) NULL,
	[TentativeUnits] [int] NULL,
	[UnitPrice] [float] NULL,
	[Currency] [varchar](20) NULL,
	[TotalPrice] [float] NULL,
	[ProdType] [varchar](500) NULL,
	[TotalPriceInBdt] [float] NULL,
	[TotalAmount] [float] NULL,
 CONSTRAINT [PK_AnnualRequirement] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AnnualRequirementMsts]    Script Date: 10/2/2019 5:17:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnnualRequirementMsts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ImporterId] [int] NULL,
	[SubmissionDate] [datetime] NULL,
 CONSTRAINT [PK_AnnualRequirementMsts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CountryInfo]    Script Date: 10/2/2019 5:17:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CountryInfo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
 CONSTRAINT [PK_CountryInfo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CurrencyRates]    Script Date: 10/2/2019 5:17:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CurrencyRates](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Currency] [varchar](50) NULL,
	[ExchangeRate] [float] NULL,
 CONSTRAINT [PK_CurrencyRate] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EmployeeInfos]    Script Date: 10/2/2019 5:17:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EmployeeInfos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmpCode] [varchar](20) NULL,
	[EmpName] [varchar](50) NULL,
	[Designation] [varchar](20) NULL,
	[Email] [varchar](50) NULL,
	[ContactNo] [varchar](20) NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_EmployeeInfo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ImporterInfos]    Script Date: 10/2/2019 5:17:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ImporterInfos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrgName] [varchar](200) NULL,
	[ContactName] [varchar](50) NULL,
	[Position] [varchar](20) NULL,
	[ContactNo] [varchar](20) NULL,
	[Division] [varchar](20) NULL,
	[District] [varchar](20) NULL,
	[Upazila] [varchar](20) NULL,
	[Address] [varchar](500) NULL,
	[DlsLicenseType] [varchar](20) NULL,
	[DlsLicenseNo] [varchar](20) NULL,
	[DlsLicenseScan] [varchar](100) NULL,
	[NidNo] [varchar](20) NULL,
	[NidScan] [varchar](100) NULL,
	[IrcScan] [varchar](100) NULL,
	[UserId] [int] NULL,
	[Email] [varchar](50) NULL,
	[ImpCode] [varchar](10) NULL,
 CONSTRAINT [PK_ImporterInfo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ProformaInvoiceDtls]    Script Date: 10/2/2019 5:17:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ProformaInvoiceDtls](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PiMstId] [int] NULL,
	[ProdName] [varchar](50) NULL,
	[HSCode] [varchar](50) NULL,
	[Manufacturer] [varchar](100) NULL,
	[PackSize] [varchar](20) NULL,
	[NoOfUnits] [int] NULL,
	[TotalAmount] [float] NULL,
	[TotalQuantity] [float] NULL,
	[TotalPrice] [float] NULL,
	[Type] [varchar](500) NULL,
	[Rmarks] [varchar](500) NULL,
	[ApprovalStatus] [bit] NULL,
	[ApprovedBy] [int] NULL,
 CONSTRAINT [PK_ProformaInvoiceDtl] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ProformaInvoiceMsts]    Script Date: 10/2/2019 5:17:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ProformaInvoiceMsts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ApplicationNo] [varchar](50) NULL,
	[ProformaInvoiceNo] [varchar](50) NULL,
	[ProformaDate] [datetime] NULL,
	[SubmissionDate] [datetime] NULL,
	[Currency] [varchar](20) NULL,
	[PortOfLoading] [varchar](50) NULL,
	[PortOfEntry] [varchar](50) NULL,
	[PiScan] [varchar](100) NULL,
	[LitScan] [varchar](100) NULL,
	[TestReport] [varchar](100) NULL,
	[OtherDoc] [varchar](100) NULL,
	[Confirmation] [bit] NULL,
	[CountryOfOrigin] [varchar](50) NULL,
 CONSTRAINT [PK_ProformaInvoiceMst] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RoleInfos]    Script Date: 10/2/2019 5:17:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RoleInfos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
 CONSTRAINT [PK_RoleInfo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserLogins]    Script Date: 10/2/2019 5:17:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserLogins](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NULL,
	[PasswordHash] [varbinary](max) NULL,
	[PasswordSalt] [varbinary](max) NULL,
	[CreatedBy] [varchar](50) NULL,
	[CreatedTerminal] [varchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedBy] [varchar](50) NULL,
	[UpdatedTerminal] [varchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
	[UserType] [varchar](10) NULL,
 CONSTRAINT [PK_UserLogin] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserRoleConfs]    Script Date: 10/2/2019 5:17:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoleConfs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_UserRoleConf] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[AnnualRequirementDtls] ON 

INSERT [dbo].[AnnualRequirementDtls] ([Id], [AnnReqMstId], [ProdName], [HsCode], [Manufacturer], [CountryOfOrigin], [PackSize], [TentativeUnits], [UnitPrice], [Currency], [TotalPrice], [ProdType], [TotalPriceInBdt], [TotalAmount]) VALUES (1, 28, N'CMT', N'12.12.12', N'Beximco Pharma Ltd', N'Bangladesh', N'50kg', 500, 5000, N'Dollar', 2500000, N'CM', 210000000, 50)
INSERT [dbo].[AnnualRequirementDtls] ([Id], [AnnReqMstId], [ProdName], [HsCode], [Manufacturer], [CountryOfOrigin], [PackSize], [TentativeUnits], [UnitPrice], [Currency], [TotalPrice], [ProdType], [TotalPriceInBdt], [TotalAmount]) VALUES (2, 29, N'DDGS(DISTILLERS DRIED GRAINS WITH SOLUBLES)', N'400.7898', N'Islam Agrovet Ltd. ', N'Bangladesh', N'Bulk in 20/40 ft container', 50000, 5000, N'Dollar', 250000000, N'DDGS', 21000000000, 1000)
INSERT [dbo].[AnnualRequirementDtls] ([Id], [AnnReqMstId], [ProdName], [HsCode], [Manufacturer], [CountryOfOrigin], [PackSize], [TentativeUnits], [UnitPrice], [Currency], [TotalPrice], [ProdType], [TotalPriceInBdt], [TotalAmount]) VALUES (3, 29, N'Vitasol M', N'78.12.35', N'Future Dream Enterprise', N'Bangladesh', N'500gm', 6000, 5, N'Dollar', 30000, N'Vit & Min Supplement', 2520000, 3)
SET IDENTITY_INSERT [dbo].[AnnualRequirementDtls] OFF
SET IDENTITY_INSERT [dbo].[AnnualRequirementMsts] ON 

INSERT [dbo].[AnnualRequirementMsts] ([Id], [ImporterId], [SubmissionDate]) VALUES (28, 33, CAST(N'2019-10-01 15:16:59.410' AS DateTime))
INSERT [dbo].[AnnualRequirementMsts] ([Id], [ImporterId], [SubmissionDate]) VALUES (29, 33, CAST(N'2019-10-01 15:41:39.677' AS DateTime))
INSERT [dbo].[AnnualRequirementMsts] ([Id], [ImporterId], [SubmissionDate]) VALUES (30, 33, CAST(N'2019-10-01 16:33:31.653' AS DateTime))
SET IDENTITY_INSERT [dbo].[AnnualRequirementMsts] OFF
SET IDENTITY_INSERT [dbo].[CountryInfo] ON 

INSERT [dbo].[CountryInfo] ([Id], [Name]) VALUES (1, N'Bangladesh')
INSERT [dbo].[CountryInfo] ([Id], [Name]) VALUES (2, N'India')
INSERT [dbo].[CountryInfo] ([Id], [Name]) VALUES (3, N'USA')
SET IDENTITY_INSERT [dbo].[CountryInfo] OFF
SET IDENTITY_INSERT [dbo].[CurrencyRates] ON 

INSERT [dbo].[CurrencyRates] ([Id], [Currency], [ExchangeRate]) VALUES (1, N'Dollar', 84)
INSERT [dbo].[CurrencyRates] ([Id], [Currency], [ExchangeRate]) VALUES (2, N'Euro', 100)
INSERT [dbo].[CurrencyRates] ([Id], [Currency], [ExchangeRate]) VALUES (3, N'Pound', 110)
SET IDENTITY_INSERT [dbo].[CurrencyRates] OFF
SET IDENTITY_INSERT [dbo].[ImporterInfos] ON 

SET IDENTITY_INSERT [dbo].[ImporterInfos] OFF
SET IDENTITY_INSERT [dbo].[RoleInfos] ON 

INSERT [dbo].[RoleInfos] ([Id], [Name]) VALUES (1, N'Admin')
INSERT [dbo].[RoleInfos] ([Id], [Name]) VALUES (2, N'Importer')
SET IDENTITY_INSERT [dbo].[RoleInfos] OFF
SET IDENTITY_INSERT [dbo].[UserLogins] ON 

SET IDENTITY_INSERT [dbo].[UserLogins] OFF
SET IDENTITY_INSERT [dbo].[UserRoleConfs] ON 

INSERT [dbo].[UserRoleConfs] ([Id], [UserId], [RoleId]) VALUES (1, 31, 2)
INSERT [dbo].[UserRoleConfs] ([Id], [UserId], [RoleId]) VALUES (2, 32, 2)
INSERT [dbo].[UserRoleConfs] ([Id], [UserId], [RoleId]) VALUES (3, 33, 2)
SET IDENTITY_INSERT [dbo].[UserRoleConfs] OFF
/****** Object:  Index [IX_UserLogin]    Script Date: 10/2/2019 5:17:54 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserLogin] ON [dbo].[UserLogins]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AnnualRequirementDtls]  WITH CHECK ADD  CONSTRAINT [FK_AnnualRequirementDtls_AnnualRequirementMsts] FOREIGN KEY([AnnReqMstId])
REFERENCES [dbo].[AnnualRequirementMsts] ([Id])
GO
ALTER TABLE [dbo].[AnnualRequirementDtls] CHECK CONSTRAINT [FK_AnnualRequirementDtls_AnnualRequirementMsts]
GO
ALTER TABLE [dbo].[AnnualRequirementMsts]  WITH CHECK ADD  CONSTRAINT [FK_AnnualRequirementMsts_AnnualRequirementMsts] FOREIGN KEY([Id])
REFERENCES [dbo].[AnnualRequirementMsts] ([Id])
GO
ALTER TABLE [dbo].[AnnualRequirementMsts] CHECK CONSTRAINT [FK_AnnualRequirementMsts_AnnualRequirementMsts]
GO
USE [master]
GO
